{% set page_name = "support" %}
{% set isShowBalance = false %}
{% set isLogin = false %}
{% set page_title = "Support | xmrwallet.com" %}

{% extends "layout/dashboard.twig" %}

{% block title %}{{ i("title_support") }}{% endblock %}
{% block subtitle %}{{ i("title_sub_support") }}{% endblock %}
{% block subtitlelink %}<a href="#/create.html" {{ p("title_link_support") }}>{{ t("title_link_support") }}</a>{% endblock %}

{% block content %}
    
    <script>document.title = "{{ page_title }}";</script>
    <div class="dashboard-panel">
        <div class="dashboard-panel-header">
            <div class="dashboard-panel-header-title">
                <span class="title-text">{{ i("donate_wallet") }}</span>
            </div>
        </div>
        <div class="dashboard-panel-body">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" readonly
                           value="46U48fkNkteDJEWypqHH9NfLWsTNMNFZiRETdVm1Q73234hifuMhqKCAYx3muwWb2955twtpKvUncEdSBWeeX8UL49sAQWo"/>
                    <div class="input-group-btn">
                        <button class="btn btn-group">
                            <span class="svg--copy-white"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6">
            <a href="mailto:support@xmrwallet.com?Subject=XMRWALLET%20Message" class="dashboard-panel-info" target="_top">
                <div class="panel-info-svg">
                    <span class="svg svg--info-support-white"></span>
                </div>
                <div class="panel-info-hr"></div>
                <div class="panel-info-block">
                    <div class="panel-info-title">support@xmrwallet.com</div>
                    <div class="panel-info-desc">Support email</div>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="mailto:feedback@xmrwallet.com?Subject=XMRWALLET%20Message" class="dashboard-panel-info" target="_top">
                <div class="panel-info-svg">
                    <span class="svg svg--info-feedback-white"></span>
                </div>
                <div class="panel-info-hr"></div>
                <div class="panel-info-block">
                    <div class="panel-info-title">feedback@xmrwallet.com</div>
                    <div class="panel-info-desc">Feedback & Bugs</div>
                </div>
            </a>
        </div>
    </div>

    <div class="dashboard-inline">
        <div class="dashboard-inline-image">
            <div class="svg svg--image-monero"></div>
        </div>
        <div class="dashboard-inline-body">
            <div class="dashboard-inline-title">{{ i("description_what_xmrwallet") }}</div>
            <div class="dashboard-inline-text">{{ i("description_what_xmrwallet_text") }}</div>
        </div>
    </div>

    <div class="dashboard-inline">
        <div class="dashboard-inline-image">
            <div class="svg svg--image-user"></div>
        </div>
        <div class="dashboard-inline-body">
            <div class="dashboard-inline-title">{{ i("description_what_hosted") }}</div>
            <div class="dashboard-inline-text">
			<ul>
			<li>{{ i("description_what_hosted_1") }}</li>
			<li>{{ i("description_what_hosted_2") }}</li>
			<li>{{ i("description_what_hosted_3") }}</li>
			<li>{{ i("description_what_hosted_4") }}</li>
			<li>{{ i("description_what_hosted_5") }}</li>
			</ul>
			</div>
        </div>
    </div>
{% endblock %}