{% if page_name == "create" %}
<div id="printdiv" style="display: none;">
  <div id="printdiv_header">
      <div class="dashboard-menu-logo">
        <div class="svg--logo-wallet"></div>
      </div>
  </div>
  <p readonly="" id="private_seed_print" style="color: #474E5D; border-color: #D9DCE7; background-color: #F1F2F6; padding: 30px; font-size: 20px; font-family: Arial, Helvetica, sans-serif;"></p>
  <div class="dashboard">
      <div class="dashboard-body-content">
          <div class="dashboard-panel">
            <div class="dashboard-panel-header">
                <div class="dashboard-panel-header-title">
                    <span class="svg svg--key-white"></span>
                    <span class="title-text"><span>Important Information</span></span>
                </div>
            </div>
            <div class="dashboard-panel-body">
                <div class="form-group form-group" style="font-family: 'Roboto-Regular', sans-serif;">
                    <ul>
                        <li>Store your printed seed in a safe place.</li>
                        <li>Seeds cannot be recovered if lost. Ever.</li>
                        <li>Login with your seed by going to www.xmrwallet.com</li>
                        <li>If you require any assistance please email support@xmrwallet.com</li>
                    </ul>
                </div>
            </div>
          </div>
      </div>
  </div>
</div>
{% endif %}
<div {% if page_name == "create" %}id="maindashboard" {% endif %}class="dashboard">
    <div class="dashboard-menu close">
        <div class="dashboard-menu-logo">
		{% if isLogin != false %}
            <a href="#/dashboard.html">
		{% else %}
			<a href="#/login.html">
		{% endif %}
                <div class="svg--logo-wallet"></div>
            </a>
        </div>
        <div class="dashboard-menu-burger">
            <div class="svg svg--menu-open"></div>
            <div class="svg svg--menu-close"></div>
        </div>
        {% if isLogin != false %}
            {% include "dashboard/nav.twig" %}
        {% else %}
            {% include "dashboard/login.twig" %}
        {% endif %}
    </div>
    <div class="dashboard-root">
        <div class="dashboard-body-wrap">
            <div class="dashboard-body">
                {% if page_name not in ['post'] %}
                    <div class="dashboard-body-header">
                        <div class="header-group">
                            <div class="header-title">{% block title %}{% endblock %}</div>
                            <div class="header-subtitle">
                                <span class="header-subtitle-text">{% block subtitle %}{% endblock %}</span>
                                {% block subtitlelink %}{% endblock %}
                            </div>
                        </div>
                        {% include "dashboard/header_js.twig" %}
                    </div>
                {% endif %}
                <div class="dashboard-body-content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div class="dashboard-footer">
                <div class="dashboard-footer-links">
                    <select class="js-select-footer" name="">
                        {% for language in languages %}
                            <option {{ language.selected ? 'selected' }} value="{{ language.key }}">{{ language.value }}</option>
                        {% endfor %}
                    </select>
					{% if page_name != "maintenance" %}
						{% if isLogin != false %}
						<a href="#/terms_login.html">{{ i("terms_of_use") }}</a>
						<a href="#/policy_login.html">{{ i("privacy_policy") }}</a>
						{% else %}
						<a href="#/terms.html">{{ i("terms_of_use") }}</a>
						<a href="#/policy.html">{{ i("privacy_policy") }}</a>
						{% endif %}
                        <a target="_blank" href="https://github.com/XMRWallet">GitHub</a>
                        <a target="_blank" href="https://twitter.com/xmrwalletcom">Twitter</a>
					{% endif %}
                </div>
                <!-- Global site tag (gtag.js) - Google Analytics -->
                <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116766241-1"></script>
                <script>
                  window.dataLayer = window.dataLayer || [];
                  function gtag(){dataLayer.push(arguments);}
                  gtag('js', new Date());

                  gtag('config', 'UA-116766241-1');
                </script>
                <div class="dashboard-footer-copy">© 2018 XMRWALLET.COM</div>
            </div>
        </div>
    </div>
</div>